.userList{
    flex: 6;
}

.userListInfo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.userListInfo > img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.userListAction {
    display: flex;
    align-items: center;
    gap: 10px;
}

.userListAction > a > button {
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color:  #3bb077;
    color: white;
    cursor: pointer;
}

.userListAction > svg {
    color: red;
    cursor: pointer;
    font-size: 1.5rem;
}