.product{
    flex: 6;
    padding: 20px;
}

.productContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.productContainer > a > button{
    width: 80px;
    border: none;
    padding: 5px;
    background-color: teal;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
}

.productTop{
    display: flex;
    /* gap: 10px; */
}

.productTopLeft, .productTopRight{
    flex: 1;
}

.productTopRight{
    margin: 20px;
    padding: 20px;
    box-shadow: 0px 0px 15px -10px rgb(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 15px -10px rgb(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.productInfoTop {
    display: flex;
    align-items: center;
    gap: 10px;
}

.productInfoTop > img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.productInfoTop > span {
    font-weight: 600;
}

.productInfoItem{
    width: 150px;
    display: flex;
    justify-content: space-between;
}

.productInfoItem > span:nth-child(2){
    font-weight: 300;
}

.productBottom{
    margin: 20px;
    padding: 20px;
    box-shadow: 0px 0px 15px -10px rgb(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 15px -10px rgb(0, 0, 0, 0.75);
}

.productForm{
    display: flex;
    justify-content: space-between;
}

.productForm{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.productFormLeft {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.productFormLeft > label {
    color: gray;
}

.productFormLeft > input {
    border: none;
    padding: 5px;
    border-bottom: 1px solid gray;
}

.productFormRight {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.productUpload{
    display: flex;
    align-items: center;
    gap: 10px;
}

.productUpload > img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
}

.productButton {
    border: none;
    padding: 5px;
    border-radius: 5px;
    background-color: darkblue;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.productUpdateIcon{
    cursor: pointer;
    font-size: 22px !important;
}